body {
  background: #f0f5ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 100%;
  width: 56rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor {
  display: flex;
  gap: 1rem;
}

.canvas {
  width: 45%;
}

.form-container {
  width: 55%;
}

.renderer-card {
  background-color: var(--accent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 4 / 5;
  box-shadow: 0 .2em .4em rgba(0, 0, 0, .18);
  border-radius: .5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.renderer-card .main h1 {
  color: var(--primary, #000);
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
}

.renderer-card .main .text {
  color: var(--secondary, #000);
  font-weight: bold;
}

.color-bar__label {
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
  background: linear-gradient(
    to right,
    var(--primary),
    var(--primary) 33%,
    var(--secondary) 33%,
    var(--secondary) 66%,
    var(--accent) 66%,
    var(--accent)
  );
  border-radius: .2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, .2) 0px 2px 2px 0px;
}

.color-bar__input {
  display: none;
}

.color-bar__input:checked+.color-bar__label {
  border: .2rem solid #1677ff;
}

.color-bar__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 50rem) {
  main {
    max-width: 100%;
    padding: 1rem;
  }

  .editor {
    flex-direction: column;
  }

  .canvas {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
}


.editor .ant-tabs-nav {
  margin: 0;
}

.editor .ant-tabs-content-holder {
  padding: 16px;
  background: white;
  height: 100%;
}

.user {
  font-weight: bold;
  display: flex;
  gap: .5em;
}

.user .headshot {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}

.user .name {
  display: block;
  color: var(--primary);
  letter-spacing: .08em;
}

.user .handle {
  display: block;
  color: var(--secondary);
  letter-spacing: .04em;
}

.preview-container {
  display: flex;
  gap: 1rem;
  overflow: auto;
  padding: 1rem;
}

.preview-container .renderer-card {
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
}

.preview-container .add-slide-container {
  width: 6rem;
  border: .2rem dashed rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .2);
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-shrink: 0;
}

.preview-container .preview_card__wrapper {
  position: relative;
}

.preview-container .preview_card__wrapper button {
  position: absolute;
  top: .2rem;
  right: .2rem;
}

.preview-container .preview_card__wrapper.card_wrapper--active .renderer-card {
  outline: .2rem solid var(--primary);
}